body
{
    margin: 0px;
    padding: 0px;
}
#outer
{
    height: 700px;
    width: 100%;
    border: 1px solid black;
}
#header
{
    height: 55px;
    width: 100%;
    background: rgb(56, 122, 56); 
}
b
{
    color: white;
    font-size:18px;
    font-family: 'Times New Roman', Times, serif;
    float: right;
    padding-right: 150px;
    padding-top: 18px; 
}
.head1
{
    padding-left:160px;
}
.a, .b
{
    height: 30px;
    width: 50px;
    color: black;
    background: yellow;
    border: 1px solid yellow;
    float: left;
    font-size: 20px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 7px;
    padding-top: 4px;
    font-style: bold;
}
.b
{
    background: green;
    width: 100px;
    border: 1px solid yellow;
    color: white;
}
#menu
{
    height: 60px;
    width: 100%;
    background: rgb(27, 26, 26);
    padding-top: 1px;
}
#menu ol
{
    list-style: none;
    padding-left: 145px;
}
#menu ol li
{
    display: inline-block;
    margin:0px 17px;
}
#menu ol li a
{
    color: white;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    font-size: 21px;
    
}
#main
{
    height: 580px;
    width: 100%;
    background: white;
}
#main .first-part
{
    height: 50px;
    width: 100%;
    text-align: center;
    font-size: 24px;
    color: white;
    padding-top: 50px;
    background: linear-gradient(to left, rgb(59, 94, 59) 0%, rgb(26, 63, 26) 100%);
    font-family: 'Times New Roman', Times, serif;
}
#main .second-part
{
    height: 580px;
    width: 100%;
}
.s1
{
    height: 460px;
    width: 50%;
    background: white;
    color: black;
    padding-left:150px; 
    padding-top: 15px;
    float: left;
}
.s2
{
    height: 370px;
    width: 360px;
    background: black;
    color: white;
    float: left;
    font-size: 17px;
    font-family: calibri;
    margin-top: 30px;
    padding-right: 30px;
    padding-left: 15px;
    padding-top: 30px;
    text-align: left;
}
#footer
{
    height: 46px;
    width: 100%;
    background:black;
    color: white;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    padding-top: 24px;
}
p
{
        text-align: center;
        padding: 0px 40px 0px 40px;
        font-size: 18px;
        font-family: calibri;
}
form
{
        font-size: 20px;
        font-family: 'Times New Roman', Times, serif;
        margin-left:25%; 
}
    
input
{
    height: 30px;
    width: 671px;
    background:white;
    color: black;
    font-size: 17px;
    padding-left: 10px;
    padding-right: 5px;
    border: 1px solid gray;
    /* margin-top: 1px;  */
}
input[type=submit]
{
    height: 38px;
    width : 90px;
    background: green;
    color: white;
    font-size: 18px;
    font-family: Arial;
    text-align: center;
}
.p1, .p2, .p3, .p4, .p5, .p6, .p7, .p8
{
    height: 200px;
    width: 20%;
    background: rgb(20, 19, 19);
    color: white;
    float: left;
    margin: 5px;
    font-size:18px;
    padding-left: 15px;
} 
.p1, .p5
{
    margin-left: 110px;
}


